@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body, html {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

@mixin full {
  position: absolute;
  inset: 0;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.audio-play {
  position: absolute;
  top: 0;
  right: 0;
}

.readout {
  @include middle;
  z-index: 2;
  
}
